body{
    background-color:red;
}
#red{
    color: white;
    background-color: red;
}
.blue{
    background-color: blue;
    color: white;
border: black;}
*{
    margin:0;
    padding: 0;
}